<?xml version='1.0' encoding='utf-8'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <Product Name='MComix' Manufacturer='The MComix Team'
    Id='8DCEC39D-B849-4BA0-B06F-73C83206914A'
    UpgradeCode='A6486632-9E26-428B-8AA3-40B183C35892'
    Language='1033' Version='$(var.VERSION)'>

    <Package Id='*' Manufacturer='The MComix Team' Compressed='yes'
      Description='MComix is a user-friendly, customizable image viewer.' />

    <Media Id='1' EmbedCab='yes' Cabinet='mcomix.cab' />

    <Icon Id='mcomix.ico' SourceFile='../mcomix/images/mcomix.ico' />
    <Property Id='ARPPRODUCTICON' Value='mcomix.ico' />

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFiles64Folder'>
        <Directory Id='MComix.dir' Name='MComix'>
          <Directory Id='cairo.dir' Name='cairo' />
        </Directory>
      </Directory>
    </Directory>

    <DirectoryRef Id='MComix.dir' FileSource='../dist/MComix'>
      <Component Id='MComix.exe'>
        <File Id='MComix.exe' Name='MComix.exe' KeyPath='yes' />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id='cairo.dir' FileSource='../dist/MComix/cairo'>
      <Component Id='_cairo.cp311_mingw_x86_64.pyd'>
        <File Id='_cairo.cp311_mingw_x86_64.pyd' Name='_cairo.cp311-mingw_x86_64.pyd' KeyPath='yes' />
      </Component>
    </DirectoryRef>

    <ComponentGroup Id='APPLICATIONFILES'>
      <ComponentRef Id='MComix.exe' />
      <ComponentRef Id='_cairo.cp311_mingw_x86_64.pyd' />
    </ComponentGroup>

    <Feature Id='Complete'>
      <ComponentGroupRef Id='APPLICATIONFILES' />
    </Feature>
  </Product>
</Wix>
