<?xml version='1.0' encoding='utf-8'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <Product Name='MComix' Manufacturer='The MComix Team'
    Id='8DCEC39D-B849-4BA0-B06F-73C83206914A'
    UpgradeCode='A6486632-9E26-428B-8AA3-40B183C35892'
    Language='1033' Version='$(var.VERSION)'>

    <Package Id='*' Manufacturer='The MComix Team' Compressed='yes'
      Description='MComix is a user-friendly, customizable image viewer.' />

    <Media Id='1' EmbedCab='yes' Cabinet='mcomix.cab' />

    <Icon Id='mcomix.ico' SourceFile='../mcomix/images/mcomix.ico' />
    <Property Id='ARPPRODUCTICON' Value='mcomix.ico' />

    <Feature Id='Complete'>
      <ComponentGroupRef Id='APPLICATIONFILES' />
    </Feature>
  </Product>
</Wix>
